* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    min-height: 150vh;
    width: 99vw;
    display: grid;
    grid-template-areas: 
    "hd nav nav"
    "ma ma ma"
    "se se as"
    "ft ft ft";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3.5fr 4.5fr 2fr;
}

header {
    grid-area: hd;
    background-image: linear-gradient(#32312f, #4b137d);
}

nav {
    grid-area: nav;
    background-image: linear-gradient(#32312f, #4b137d);
    display: flex;
    align-items: center;
    column-gap: 120px;
    justify-content: center;
}

main {
    grid-area: ma;
    background-image: url(../img/adria-garcia-sarceda-O560d5Mnc04-unsplash.jpg);
    background-size: 100% auto;
    background-position: 10% 20%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    position: relative;
    transition: transform 1s ease;
}

main:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    transform: scale(1.03);
}

section {
    grid-area: se;
    background: linear-gradient(135deg, #5f1aa0, #2c2a29);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

aside {
    grid-area: as;
    background: linear-gradient(65deg, #2c2a29, #5f1aa0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

footer {
    grid-area: ft;
    background: linear-gradient(10deg, #431c68, #2c2a29);
    box-shadow: 0 -10px 30px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    column-gap: 130px;
    display: grid;
    grid-template-areas: 
    "f1 f2 f3 f4";
}

.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    margin-right: 3%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
}

p {
    color: black;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

#text {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

#text:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    transform: scale(1.05);
}

.menu:hover {
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    transform: translateY(4px);
}

#info {
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 5px;
    transition: transform 0.3s ease;
}

#info:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    transform: scale(1.05);
}

ul {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 10px;
    line-height: 1.5;
    padding: 10px;
}

button {
    padding: 7px 20px;
    border-radius: 15px;
    font-size: 1.1rem;
    transition: 0.3s;
    margin-left: 33%;
    margin-bottom: 1%;
}

button:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #5f1aa0;
}

.mindre {
    display: block;
    max-height: 30%;
    width: 100%;
    border-radius: 40px;
    filter: sepia(0.6) blur(0.5px);
}

.mindre.mer {
    max-height: 30%;
    width: 100%;
}

.preview {
    max-height: 1px;       
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.preview.expanded {
    max-height: 500px;      
}

.read-more {
    padding: 7px 20px;
    border-radius: 15px;
    font-size: 1.1rem;
    transition: 0.3s;
    margin-left: 33%;
    margin-bottom: 1%;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

#undertext {
    color: white;
    max-width: 500px;
}

.extra_bilder {
    position: absolute;
    height: 30%;
    width: auto;
    right: 40px;
    bottom: 40px;
    height: 120px;
    width: auto;
    border-radius: 50px;
    border: 10px solid white;
    filter: sepia(0.8);
}

.bilder {
    position: absolute;
    height: 100%;
    width: 100px;
    right: 230px;
    bottom: 180px;
    height: 120px;
    width: auto;
    border-radius: 50px;
    border: 10px solid white;
    filter: sepia(0.8);
}

.bilder2 {
    position: absolute;
    height: 100%;
    width: 100px;
    right: 10px;
    bottom: 310px;
    height: 120px;
    width: auto;
    border-radius: 50px;
    border: 10px solid white;
    filter: sepia(0.6);
}

h4 {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#f1 {
    grid-area: f1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

#f2 {
    grid-area: f2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#f3 {
    grid-area: f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#f4 {
    grid-area: f4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ft_text {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    line-height: 1;
    align-items: center;
}

.ft_text:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
    background-color: #5f1aa0;
    border-radius: 15px;
}

.ikon {
    height: 100%;
    width: 20%;
    border-radius: 20px;
    padding: 5px;
}