* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 150vh;
    width: 99vw;
    display: grid;
    grid-template-areas: 
    "hd nav nav"
    "ma ma ma"
    "se se as"
    "ft ft ft";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr auto auto;
}

header {
    grid-area: hd;
    background-image: linear-gradient(#32312f, #4b137d);
}

nav {
    grid-area: nav;
    background-image: linear-gradient(#32312f, #4b137d);
    display: flex;
    align-items: center;
    column-gap: 120px;
    justify-content: center;
}

main {
    grid-area: ma;
    background-image: url(../img/adria-garcia-sarceda-O560d5Mnc04-unsplash.jpg);
    background-size: 100% auto;
    background-position: 10% 20%;
    background-repeat: no-repeat;
}

section {
    grid-area: se;
    background-image: linear-gradient(#4b137d,#32312f);
    display: flex;
    align-items:flex-start;
    padding-left: 10px;
    flex-direction: column;
    row-gap: 10px;
}

aside {
    grid-area: as;
    background-color: brown;
}

footer {
    grid-area: ft;
    background-color: red;
}

.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    margin-right: 3%;
}

h3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
}

p {
    color: black;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}